PORT=3000 

DB_HOST=localhost 
DB_PORT=5432 
DB_NAME=control_gastos 
DB_USER=postgres 
DB_PASSWORD=admin

JWT_SECRET=control_gastos_jwt_secret_2026
JWT_EXPIRES_IN=20m

# Google Identity Services (público, no es un secreto)
# https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=tu_client_id.apps.googleusercontent.com